*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.05em;
}

body {
  line-height: 1.5;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-inline: 300px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  font-size: 12px;
  color: #ffff;
}

.schooled {
  background-image: url("/css_advanced/Images/Object.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.schooled-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffff;
  margin-top: 100px;
}

.schooled-text h1 {
  font-size: 140px;
}
.span {
  display: flex;
  font-size: 16px;
  gap: 50px;
  font-family: Source Sans Pro;
  font-weight: bold;
}
button {
  border: 0;
  border-radius: 20px;
  background-color: rgb(167, 87, 243);
  font-size: 12px;
  color: #ffff;
  margin-top: 50px;
  width: 162px;
  height: 44px;
}

.learn h2 {
  margin-top: 200px;
  justify-self: center;
  color: #ffff;
  font-weight: 100;
  font-size: 32px;
}

.pros {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.pros_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffff;
}
.pros_1 h3 {
  font-size: 18px;
}

.pros_1 p {
  font-size: 16px;
}

.bruce {
  border: 0;
  border-radius: 100%;
}

.testimonial {
  background-color: rgb(167, 87, 243);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-block: 80px;
}
.testimonial h3 {
  padding-top: 40px;
}
.testimonial-text {
  color: #ffff;
}

.tutorial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-block: 100px;
}

.box {
  display: block;
  width: 300px;
}

.tutorial-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tutorial-box h4,
.min {
  color: rgb(167, 87, 243);
}

.phillip {
  display: flex;
  align-items: center;
  gap: 20px;
}

.phillip h4 {
  font-size: 16px;
}

.phillip img {
  width: 30px;
  height: 30px;
}

.star {
  display: flex;
  color: rgb(167, 87, 243);
  gap: 10px;
}

.membership {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #071629;
  color: #ffff;
  padding-block: 50px;
}
.membership-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  gap: 30px;
}
.membership-dot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 300px;
}

.membership-dot p,
.box p {
  font-size: 16px;
}

.membership-dot h3,
.box h3 {
  font-size: 18px;
}
.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 50px;
}
.faq h2 {
  font-size: 40px;
  font-weight: 100;
}
.faq-box {
  display: flex;
  width: 50%;
  justify-content: center;
  gap: 50px;
}

.faq-box h3 {
  font-size: 18px;
  padding-bottom: 30px;
  padding-top: 80px;
}

.faq-left,
.faq-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.faq-text,
.footer p {
  font-size: 16px;
  font-weight: lighter;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #071629;
  color: #ffff;
  padding-top: 80px;
  padding-bottom: 20px;
  gap: 20px;
}

.logo-icon {
  display: flex;
  justify-content: space-evenly;
  gap: 1000px;
  align-items: center;
}